<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="generator.domain.PermissionEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            <result property="moduleId" column="module_id" jdbcType="INTEGER"/>
            <result property="actionId" column="action_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,permission_name,module_id,
        action_id
    </sql>
</mapper>
